@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  position: fixed;
}
.header.scrolled {
    background-color: #fff;
    width: 100%;
}

.main-section {
  background-image: url('./images/Website-background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem 4.5rem 1.5rem;
}

.menu-bar {
  color: orangered;
  width: 20%;
  height: 20%;
  font-size: 30px;
}

.menu-bar:hover {
  cursor: pointer;
}

.main-content {
  margin: 30px auto;
}

.heading-one {
  font-size: 20px;
  color: orangered;
  margin: 10px auto;
}

.heading-two {
  background-image: url('./images/heading-background.jpg');
  background-size: 180px;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.welcome-content {
  background-color: rgb(250, 244, 244);
  border: 6px solid white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  margin: 40px auto;
  padding: 5px;
  font-weight: 600;
}

.authentic {
  display: flex;
  margin-top: 60px;
}

.authentic i {
  font-size: 28px;
  color: orangered;
  margin-right: 10px;
}

.authentic-heading {
  font-size: 22px;
}

.authentic-paragraph {
  font-size: 12px;
}

.artworks {
  background-image: url('./images/program-section-bg.png');
  width: 100%;
  height: 100%;
}

.artwork-heading {
  color: #fff;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.line {
  border: 1px solid orangered;
  width: 10%;
  margin-left: 45%;
  margin-bottom: 10px;
}

.card-container {
  display: grid;
  gap: 10px;
}

.Contemporary {
  background-color: rgba(177, 170, 170, 0.2);
  width: 95%;
  display: flex;
  margin: auto;
  gap: 6px;
  align-items: center;
}

.Contemporary-image {
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 10px;
}

.contemporary-heading {
  width: 110px;
  font-size: 16px;
  color: orangered;
  overflow-wrap: break-word;
}

.contemporary-paragraph {
  color: #ebe2e2;
  font-weight: 400;
  font-size: 13px;
  overflow-wrap: break-word;
}

.discover {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.discover-heading {
  color: #383636;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.discover-card-container {
  display: grid;
}

.discover-card-one {
  display: flex;
  padding: 20px;
}

.discover-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
}

.image-border {
  background-color: orangered;
  width: 50px;
  height: 50px;
  position: absolute;
}

.discover-listing {
  list-style: none;
  color: #383636;
  padding: 10px 0 10px 30px;
}

.discover-listing li {
  padding: 3px;
}

.discover-name {
  color: orangered;
  font-size: 20px;
  padding: 20px auto;
  margin-bottom: 7px;
}

.partner {
  background-color: rgb(26, 25, 35);
  width: 100%;
  height: 100%;
  padding: 10px;
}

.partener-heading {
  color: white;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
}

.partner-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 20px auto;
}

.partner-img {
  width: 30%;
}

.footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 35%;
}

.copyright {
  font-size: 16px;
  color: orangered;
  font-weight: bold;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .main-section,
  .artworks,
  .discover,
  .partner,
  .footer {
    width: 30%;
    margin: 4rem 2rem;
  }
}
