@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Lato:wght@300;400;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.up-nav {
  display: none;
}

.nav-list {
  display: none;
}

.nav-bar {
  background-color: #f8f4f4;
  width: 100%;
}

.main-section {
  background-image: url('./images/Website-background.png');
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 2.5rem 1.5rem 4.5rem 1.5rem;
}

.menu-bar {
  color: orangered;
  width: 20%;
  height: 20%;
  font-size: 30px;
}

.menu-bar:hover {
  cursor: pointer;
}

.main-content {
  margin: 30px auto;
}

.heading-one {
  font-size: 20px;
  color: orangered;
  margin: 10px auto;
}

.heading-two {
  background-image: url('./images/heading-background.jpg');
  background-size: 180px;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.welcome-content {
  background-color: rgb(250, 244, 244);
  border: 6px solid white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  margin: 40px auto;
  padding: 5px;
  font-weight: 600;
}

.authentic {
  display: flex;
  margin-top: 60px;
}

.authentic i {
  font-size: 28px;
  color: orangered;
  margin-right: 10px;
}

.authentic-heading {
  font-size: 22px;
}

.authentic-paragraph {
  font-size: 12px;
}

.artworks {
  background-image: url('./images/program-section-bg.png');
  width: 100%;
  height: 100%;
}

.artwork-heading {
  color: #fff;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.line {
  border: 1px solid orangered;
  width: 10%;
  margin-left: 45%;
  margin-bottom: 10px;
}

.card-container {
  display: grid;
  gap: 10px;
}

.Contemporary {
  background-color: rgba(177, 170, 170, 0.2);
  width: 95%;
  display: flex;
  margin: auto;
  gap: 6px;
  align-items: center;
}

.Contemporary-image {
  object-fit: cover;
  width: 80px;
  height: 80px;
  margin: 10px;
}

.contemporary-heading {
  width: 110px;
  font-size: 16px;
  color: orangered;
  overflow-wrap: break-word;
}

.contemporary-paragraph {
  color: #ebe2e2;
  font-weight: 400;
  font-size: 13px;
  overflow-wrap: break-word;
}

.discover {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.discover-heading {
  color: #383636;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.discover-card-container {
  display: grid;
}

.discover-card-one {
  display: flex;
  padding: 20px;
}

.discover-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
}

.image-border {
  background-color: orangered;
  width: 50px;
  height: 50px;
  position: absolute;
}

.discover-listing {
  list-style: none;
  color: #383636;
  padding: 10px 0 10px 30px;
}

.discover-listing li {
  padding: 3px;
}

.discover-name {
  color: orangered;
  font-size: 20px;
  padding: 20px auto;
  margin-bottom: 7px;
}

.partner {
  background-color: rgb(26, 25, 35);
  width: 100%;
  height: 100%;
  padding: 10px;
}

.partener-heading {
  color: white;
  margin: 20px auto;
  text-align: center;
  font-size: 22px;
}

.partner-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 20px auto;
}

.partner-img {
  width: 30%;
}

.footer {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 35%;
}

.copyright {
  font-size: 16px;
  color: orangered;
  font-weight: bold;
  padding-top: 40px;
}

.about-heading {
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  color: orangered;
}

.about-welcome-content {
  background-color: rgb(206, 198, 198);
  box-shadow: 10px 10px orangered;
  border-radius: 7px;
  font-size: 18px;
  line-height: 28px;
  margin: 40px auto;
  padding: 5px;
  font-weight: 600;
}

.markert-place {
  margin-top: 30px;
  border: 1px solid orangered;
  padding: 20px;
}

.market-place-paragraph {
  font-size: 16px;
  font-weight: 300;
  color: #7a7a7a;
}

.our-mission {
  background-color: #15212f;
  color: #fff;
  width: 100%;
  height: 100%;
}

.content-one {
  padding: 20px;
}

.our-mission-heading {
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: orangered;
}

.our-mission-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.exbition {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.exbition h2 {
  text-transform: capitalize;
  padding-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.exhibition-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px auto;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.exbition-img {
  position: relative;
  width: 100%;
  height: 30vh;
  opacity: 0.4;
}

.exbition-img-2 {
  position: relative;
  width: 100%;
  height: 30vh;
  object-fit: cover;
  opacity: 0.5;
}

.image-descr {
  position: absolute;
  margin-left: 50%;
  margin-top: -20%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 900;
}

@media only screen and (min-width: 768px) {
  .artworks,
  .discover,
  .partner,
  .footer {
    width: 30%;
    margin: 4rem 2rem;
  }

  .menu-bar {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }

  .nav-logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    color: orangered;
    padding-left: 50px;
  }

  .nav-list-menu {
    margin-right: 100px;
    list-style: none;
    display: flex;
  }

  .nav-list-menu li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 10px;
  }

  .nav-list-menu li a:hover {
    cursor: pointer;
    color: orangered;
  }

  .up-nav {
    display: flex;
    justify-content: end;
    background-color: black;
    padding-bottom: 1%;
    width: 100%;
    height: 100%;
  }

  .up-nav-list {
    display: flex;
    padding-top: 5px;
    list-style: none;
    margin-right: 100px;
    color: white;
  }

  .up-nav-list li a {
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
    color: #fff;
  }

  .main-section {
    background-image: url('./images/desktop-about-bg_img.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  .main-content {
    margin: auto 100px; 
    width: 80%;
  }

  .heading-one {
    font-size: 28px;
  }

  .heading-two {
    font-size: 60px;
    line-height: 100%
  }

  .welcome-content{
    width: 100%;
    line-height: 100%;
    font-size: 22px;
    font-weight: normal;
    padding: 4%;
  }

  .authentic {
    margin-top: 0;
  }

  .authentic-heading {
    font-size: 25px;
  }

  .authentic-paragraph {
    font-size: 18px;
  }

}
